run = "npm run dev"
modules = ["nodejs-20", "postgresql-16", "python-3.11", "python3"]
hidden = [".config", "package-lock.json"]
entrypoint = "index.html"

[nix]
channel = "stable-24_05"

[unitTest]
language = "nodejs"

[deployment]
deploymentTarget = "static"
build = ["npm", "run", "build"]
publicDir = "dist"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5173
externalPort = 80

[[ports]]
localPort = 45795
externalPort = 3001

[agent]
expertMode = true
integrations = ["javascript_log_in_with_replit:1.0.0", "javascript_database:1.0.0", "web_scraper:1.0.0"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Server"

[[workflows.workflow]]
name = "Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run server"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"
